<main class="pb-3 text-right">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6 col-12 px-lg-5 d-flex align-items-center justify-content-center">
                <div class="w-100 bg-white rounded shadow-lg p-4">
                    <div class="h4 text-center font-weight-bold text-danger-dark">
                        انتخاب رمز عبور
                    </div>
                    <div class="separator my-3"></div>
                    <div class="text-center text-danger-dark mt-4 mb-3">
                        لطفا رمز عبور مورد نظر خود را وارد کنید
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="my-addon">
                              <i class="fa fa-key text-white"></i>
                            </span>
                          </div>
                          <input
                            class="form-control"
                            type="password"
                            name=""
                            placeholder="رمز عبور"
                            aria-label=" "
                            aria-describedby="my-addon"
                            [(ngModel)]="password"
                          />
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="my-addon">
                              <i class="fa fa-key text-white"></i>
                            </span>
                          </div>
                          <input
                            class="form-control"
                            type="password"
                            name=""
                            placeholder="تکرار رمز عبور "
                            aria-label=" "
                            aria-describedby="my-addon"
                            [(ngModel)]="repassword"
                          />
                        </div>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-danger w-50" (click)="resetPassword()">تغییر کلمه عبور</button>
                        <div>
                            <button class="btn btn-link text-danger-dark" routerLink="/">
                              بیخیال
                            </button>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6 d-none d-sm-block">
                <img src="../../assets/images/motion3.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</main>
