<main class="pb-3 text-right">
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-md-6 col-12 px-lg-5 d-flex align-items-center justify-content-center">
                <div class="w-100 bg-white rounded shadow-lg p-4">
                    <div class="h4 text-center font-weight-bold text-primary-dark">
                        به بخش اپراتور تام‌لند خوش آمدید
                    </div>
                    <div class="separator my-3"></div>
                    <div class="text-center mt-4 mb-2">
                        شماره موبایل کاربر مورد نظر را وارد کنید
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="my-addon">
                                    <i class="far fa-mobile-android-alt text-white"></i>
                                </span>
                            </div>
                            <input class="form-control" type="text" name="" placeholder="شماره همراه دانش آموز"
                             aria-describedby="my-addon" [(ngModel)]="mobile">
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div>
                            <button class="btn btn-primary w-50 m-auto">ارسال</button>
                        </div>
                        <a  class="btn btn-link text-primary-dark" routerLink="/courses">بیخیال</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>