<div class="appContainer">
  <div class="text-right">
    <div class="container">
      <div class="row">
        <div class="col-12 d-md-none d-flex justify-content-center mt-3">
          <a class="btn btn-sm btn-outline-danger d-flex align-items-center">

          </a>
        </div>
        <div class="col-12 p-3 text-info d-lg-flex justify-content-lg-between text-center">
        </div>
        <div class="col-12 mb-5">
          <div class="bg-white rounded shadow aroundBox" style="margin-bottom: 20px">
            <h6>درس های من</h6>
            <div class="row" >
              <div class="col-md-12 col-12 col-lg-12">
                <div id="courseList">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
