
<div class="appContainer">
    <div class="text-right">
        <div class="container">
            <div class="row">
                <div class="col-12 d-md-none d-flex justify-content-center mt-3">
                    <a class="btn btn-sm btn-outline-danger d-flex align-items-center">

                    </a>
                </div>
                <div class="col-12 p-3 text-info d-lg-flex justify-content-lg-between text-center">
                    <a href="/">لیست دروس کنکور ۹۹</a>
                </div>
                <div class="col-12 mb-5">
                    <div class="bg-white rounded shadow">
                        <ul class="nav nav-tabs">
                            <li class="flex-fill pl-1 active">
                                <a href="" class="w-100 py-3 active"
                                 data-toggle="tab" href="#tajrobi" id="f1">تجربی</a>
                            </li>
                            <li class="flex-fill pl-1 ">
                                <a href="" class="w-100 py-3 "
                                 data-toggle="tab" href="#riyazi" id="f2">ریاضی</a>
                            </li>
                            <li class="flex-fill pl-1 ">
                                <a href="" class="w-100 py-3 "
                                 data-toggle="tab" href="#ensani" id="f3">انسانی</a>
                            </li>
                            <li class="flex-fill pl-1 ">
                                <a href="" class="w-100 py-3 "
                                 data-toggle="tab" href="#zaban" id="f4">زبان</a>
                            </li>
                            <li class="flex-fill pl-1 ">
                                <a href="" class="w-100 py-3 "
                                 data-toggle="tab" href="#honar" id="f5">هنر</a>
                            </li>
                            <li class="flex-fill pl-1 ">
                                <a href="" class="w-100 py-3 "
                                 data-toggle="tab" href="#OldSystem" id="f6">نظام قدیم</a>
                            </li>
                        </ul>
                        <div class="tab-content py-2 px-4">
                            <div id="tajrobi" class="tab-pane fade active show">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 py-lg-0 py-2 my-3 text-center aos-init aos-animate" data-aos="flip-left">
                                        <div class="course border border-light shadow-sm">
                                            <input name="CourseType" id="CourseType" type="hidden" value="1"/>
                                            <div class="package-title d-flex align-items-center">
                                                <div class="flex-fill py-2 px-3">
                                                    "طرح «رتبه شو!» مشاوره + بسته کل دروس"
                                                </div>
                                            </div>
                                            <div class="course-code">
                                                علوم تجربی/نظام جدید
                                            </div>
                                            <div class="p-2 pb-0">
                                                <img  class="w-100" src="../../assets/images/fa93af55-42af-40db-903c-30bee794aa25.jpg" alt="طرح «رتبه شو!» مشاوره + بسته کل دروس">
                                            </div>
                                            <div class="d-flex justify-content-center py-2">
                                                <div class="px-1 d-block">
                                                    <div class="rounded-circle">
                                                        <img width="40" src="../../assets/images/avatar.jpg"
                                                        class="rounded-circle" alt="گروه اساتید">
                                                        <div class="text-muted re-v-small pt-1">گروه اساتید</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="border border-right-0 w-50 py-2">
                                                    کلاس سالانه
                                                </div>
                                                <div class="border border-left-0 w-50 py-2"></div>
                                            </div>
                                            <div class="d-flex justify-content-between w-100 p-2">
                                                <a class="btn btn-light flex-fill ml-1" href="/">
                                                    مشاهده جزئیات
                                                </a>
                                                <div class="flex-fill mr-1">
                                                   <button class="btn btn-primary w-100 course-btn">
                                                       ثبت نام در دوره</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>