<main class="pb-3 text-right">
  <div class="container">
    <div class="row mt-lg-5 py-2">
      <div class="col-12 mb-3">
        <div class="container text-center">
          <a href="/">
            <img class="p-3" src="../../assets/images/tamland-logo.png"/>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-12 px-lg-5 m-auto">
        <div class="w-100 bg-white rounded border p-3">
          <div class="h4 text-center text-muted my-2">
            به تام‌لند خوش آمدید
          </div>
          <div
            class="alert alert-warning text-center my-4 small font-weight-bold sendPhone"
          >
            اگر قبلاً در سایت تام‌لند عضویت داشته‌اید و کلمه عبور تعریف
            نکرده‌اید، بعد از وارد کردن شماره موبایل کلید ارسال را بزنید.
          </div>

          <div class="alert alert-warning text-center my-4 small font-weight-bold sendCode showHide">
            کد ارسال شده به شماره {{storePhoneNum}} را وارد نمایید
          </div>

          <div class="form-group sendPhone">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="my-addon">
                  <i class="fa fa-key text-white"></i>
                </span>
              </div>
              <input
                class="form-control"
                type="text"
                name=""
                placeholder="شماره همراه"
                aria-label="Recipient's "
                aria-describedby="my-addon"
                [(ngModel)]="phoneNumber"
                OnlyNumber="true"
              />
            </div>
          </div>

          <div class="form-group showHide sendCode">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="my-addon">
                  <i class="fa fa-mobile text-white"></i>
                </span>
              </div>
              <input
                class="form-control"
                type="text"
                name=""
                placeholder="کد ارسال شده"
                aria-label="Recipient's "
                aria-describedby="my-addon"
                [(ngModel)]="code"
              />
            </div>
          </div>

          <div class="col-12 text-center">
            <div>
              <button class="btn btn-primary w-50 mb-2 sendPhone" (click)="changePass()">ارسال</button>
            </div>
            <div>
              <button class="btn btn-primary w-50 mb-2 sendCode  showHide" (click)="verifyCode()">ارسال</button>
            </div>
            <div>
              <button id="sendAgain"
                      class="otpPhoneBtn btn btn-secondary w-50  sendCode  showHide"

              > ارسال مجدد کد <span id="timer"></span>
              </button>
            </div>
            <a
              href=""
              class="btn btn-light text-primary-dark mt-3"
              routerLink="/"
            >کاربر جدید هستید؟ کلیک کنید</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
